//- A quién seguir

section.whoFollow.widget
  .whoFollow-header
    h2.widget-title A quién seguir
      span.widget-title-extra Actualizar
      span.widget-title-extra Ver todos
  .whoFollow-who
    .who
      img.photo(src="images/who.jpg", alt="")
      .who-data
        h5.name Un tuitero
        h6.username @untuiterodeme...
          span x
      button.btn.btn-secundary(type="submit") Seguir
    .who
      img.photo(src="images/who.jpg", alt="")
      .who-data
        h5.name Un tuitero
        h6.username @untuiterodeme...
          span x
      button.btn.btn-secundary(type="submit") Seguir
    .who
      img.photo(src="images/who.jpg", alt="")
      .who-data
        h5.name Un tuitero
        h6.username @untuiterodeme...
          span x
      button.btn.btn-secundary(type="submit") Seguir

section.Copy.widget
  p.text
    span © 2017 Twitter
    span Sobre nosotros
    span Centro de Ayuda
    span Condiciones
    span Política de privacidad
    span Cookies
    span Información sobre anuncios
    span Marca
    span Blog
    span Estado
    span Aplicaciones
    span Empleos
    span Empresas
    span Desarrolladores
