//- Profile

section.Profile.widget
  header.Profile-header
    img.cover(src="images/cover.jpg", alt="")
    img.photo(src="images/alexa.jpg", alt="")
  .Profile-name
    h3.name Alexandra Patiño G.
    h3.username @AlexaPGutierrez
  .Profile-statistics
    .row
      .columns.small-4
        h5 Tweets
        h6 27,3 K
      .columns.small-4
        h5 Siguiendo
        h6 836
      .columns.small-4
        h5 Seguidores
        h6 854

//- Trends

section.Trends.widget
  .Trends-header
    h2.widget-title Tendencias: Global
      span.widget-title-extra Cambiar
  .Trends-trends
    h3 #NBAAwards
      span.quantity 10 K Tweets
    h3 #FinalDancingBrasil
    h3 #غزه_تحت_القصف
    h3 #TheBachelorette
      span.quantity 1.386 Tweets
    h3 Bill Russell
      span.quantity 1.510 Tweets
    h3 Consuelo
      span.quantity 4.730 Tweets
    h3 #HappyBirthdayLauren
      span.quantity 2.496 Tweets
    h3 Momo Venegas
    h3 Botafogo
      span.quantity 44,2 K Tweets
    h3 Sniper Americano
