article.Tweets-tweet.row
  figure.Tweets-tweet-cover.columns.small-1
    img.cover-medium(src="images/who.jpg", alt="")
  .Tweets-tweet-result.columns.small-10
    .user
      p
        | Un tuitero
        span.username @untuiterodementiras
        span.min 5 min
    p.tweet At nolo de me ipso turpis. Ut nullam curae. Scis quid mihi quod infernum sit amet nunc magis animum, nunc eros eget quam cogitatione emptio.
    .icons
      span.fa.fa-comment-o
      span.fa.fa-retweet
      span.fa.fa-heart-o
      span.fa.fa-envelope-o
  .Tweets-tweet-arrow.columns.small-1.text-center
    span.fa.fa-angle-down
